.background {
    -fx-background-color: #111111;
}

.button-menu {
    -fx-text-fill: #ffffff;
    -fx-background-color: #d48300;
    -fx-border-radius: 1;
    -fx-background-radius: 3;
    -fx-padding: 1;
}

.btn-selected {
    -fx-background-color: red;
}

.button-menu:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #c47900;
    -fx-border-radius: 1;
    -fx-background-radius: 1;
    -fx-padding: 1;
 }

.button-menu:pressed {
    -fx-text-fill: #ffffff;
    -fx-background-color: #9c6000;
    -fx-border-radius: 1;
    -fx-background-radius: 1;
    -fx-padding: 1;
}


.label-etape{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}
.label-text{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-tilte{
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}
.checkbox-text{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

